{% extends 'manager/panel_detail.html' %}
{% load qxsms_tags django_bootstrap5 i18n %}
{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumbitem %}{% trans "Settings" %}{% endbreadcrumbitem %}
{% endblock %}
{% block title_lead %}{% trans "Update variables" %}{% endblock %}
{% block content %}
    <section class="container">
        <form method="post" class="mb-4">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success me-2">{% trans "Save" %}</button>
            {% url 'manager:panel-detail' object.pk as cancel_url %}
            {% include 'utils/cancel_button.html' %}
        </form>
    <hr>
        <p>{% trans "You can preview the text displayed to panelists by selecting a language :" %}</p>
        {% get_available_languages as LANGUAGES %}
        {% for lng in LANGUAGES %}
            <a class ='btn btn-warning me-1' href="{% url 'manager:panel-update' panel.pk %}?lng={{ lng.0 }}">{{ lng.1 }}</a>
        {% endfor %}
    <div class="mt-3">{{ translated_preview }}</div>
    </section>
{% endblock %}
