{% extends 'hq/msgdist/detail.html' %}
{% load qxsms_tags i18n %}
{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumbitem 'hq:msg-distribution-detail' object.pk %}{% trans "Delete message distribution" %}{% endbreadcrumbitem %}
{% endblock %}
{% block title_lead %}{% endblock %}

{% block content %}
    <section class="container">
        <div class="d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <p>{% trans "You are about to delete a message delivery." %}</p>
                    <p>{% trans "Do you want to proceed ?" %}</p>
                    <form method="post" class="text-center">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger me-2">{% trans "Yes" %}</button>
                        {% url 'hq:msg-distribution-detail' object.pk as cancel_url %}
                        {% include 'utils/cancel_button.html' %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
