# COMMON
__pycache__
.cache
.ipython
.local
.venv
outbox/
logs/
locale/**/*.mo
.env
docker-compose.yml
node_modules/
coverage
.coverage
.coverage.*
coverage.xml
docs/user/site/

# OTHER
*~
*#
.pytest_cache
.bash_history
.python_history
.idea
.vscode
.vscode-server
.devcontainer
yarn.lock
