{% extends 'distributions/base.html' %}
{% block content %}
<table>
    <tr>
        <th>Panel</th>
        <th>ESS ID</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Status</th>
    </tr>
    {% for link in links %}
        <tr>
            <td>{{ link.panel }}</td>
            <td>{{ link.ess_id }}</td>
            <td>{{ link.phone|default:'Not provided' }}</td>
            <td>{{ link.email|default:'Not provided' }}</td>
            <td>{{ link.status }}</td>
        </tr>
    {% endfor %}
</table>
    <div class="pagination">
    <span class="step-links">
        {% if links.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ links.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ links.number }} of {{ links.paginator.num_pages }}.
        </span>

        {% if links.has_next %}
            <a href="?page={{ links.next_page_number }}">next</a>
            <a href="?page={{ links.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
