{% extends 'panelist/base.html' %}
{% load i18n %}
{% block breadcrumb %}
    {{ block.super }}
{% endblock %}
{% block title_lead %}{% blocktrans %}Welcome {{ panelist_first_name }}{% endblocktrans %}{% endblock %}
{% block content %}
    <section class="container">
        <article>
            <h1>{% trans "Latest surveys" %}</h1>
            {% include 'panelist/utils/survey_list.html' %}
            {% if page_obj.has_next %}
                <a class="btn btn-secondary mt-3" href="{% url 'panelist:survey-list' %}">{% trans "See more" %}</a>
            {% endif %}
        </article>
        <article class="mt-5">
            <h1>{% trans "Other actions" %}</h1>
            <div class="row">
                <div class="col-lg-4">
                    <a class="card text-center mb-3" href="{% url 'panelist:profile-update' %}">
                        <div class="card-body">
                            <span class="card-title mb-0">{% trans "Change your contact details" %}</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="card text-center" href="{% url 'panelist:help' %}">
                        <div class="card-body">
                            <span class="card-title mb-0">{% trans "Help" %}</span>
                        </div>
                    </a>
                </div>
            </div>
        </article>
    </section>
{% endblock %}