{% extends 'panelist/base.html' %}
{% load qxsms_tags %}
{% load i18n %}
{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumbitem 'panelist:profile-update' %}{% trans "Confirm your phone number" %}{% endbreadcrumbitem %}
{% endblock %}
{% block content %}
    <section class="container">
        {% if validlink %}
            {% blocktrans with phone=user.phone new_phone=user.profile.temp_phone %}
                <p>Are you sure you want to change your phone number {{ phone }} by {{ new_phone }}?</p>
            {% endblocktrans %}
            <br>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success me-2">{% trans "Confirm request" %}</button>
            </form>
        {% else %}
            <p>{% trans "This link is invalid, possibly because it has already been used. Please request a new link to change your phone number." %}</p>
        {% endif %}
    </section>
{% endblock %}