{% extends 'hq/base.html' %}
{% load qxsms_tags i18n %}
{% block title_lead %}{% trans "Entry point for headquarters managers" %}{% endblock %}
{% block content %}
    <section class="container">
        <div class="row mt-5">
            <div class="col-lg-4">
                <article class="card text-center">
                    <div class="card-body">
                        <h1 class="card-title">{% trans "Panelists" %}</h1>
                        <div class="card-text fs-3 fw-bold">{{ panelist_count }}{% icon 'person-lines-fill' 'ms-2 text-primary icon-md' %}</div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'hq:panelmember-list' %}" class="stretched-link">View</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-4">
                <article class="card text-center">
                    <div class="card-body">
                        <h1 class="card-title">{% trans "Panels" %}</h1>
                        <div class="card-text fs-3 fw-bold">{{ panel_count }}{% icon 'boxes' 'ms-2 text-primary icon-md' %}</div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'hq:panel-list' %}" class="stretched-link">View</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-4">
                <article class="card text-center">
                    <div class="card-body">
                        <h1 class="card-title">{% trans "National Coordinators" %}</h1>
                        <div class="card-text fs-3 fw-bold">{{ manager_count }}{% icon 'person-badge' 'ms-2 text-primary icon-md' %}</div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'hq:manager-list' %}" class="stretched-link">{% trans "View" %}</a>
                    </div>
                </article>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4">
                <article class="card text-center h-100">
                    <div class="card-body">
                        <h1 class="card-title">{% trans "Surveys" %}</h1>
                        <div class="card-text fs-3 fw-bold">{% icon 'clipboard-check' 'text-primary icon-md' %}</div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'hq:survey-list' %}" class="stretched-link">{% trans "View" %}</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-4">
                <article class="card text-center">
                    <div class="card-body">
                        <h1 class="card-title">{% trans "Individual links" %}</h1>
                        <div class="card-text fs-3 fw-bold">{% icon 'link-45deg' 'text-primary icon-md' %}</div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'hq:link-distribution-list' %}" class="stretched-link">{% trans "View" %}</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-4">
                <article class="card text-center">
                    <div class="card-body">
                        <h1 class="card-title">{% trans "Message deliveries" %}</h1>
                        <div class="card-text fs-3 fw-bold">{% icon 'envelope-open' 'text-primary icon-md' %}</div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'hq:msg-distribution-list' %}" class="stretched-link">{% trans "View" %}</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
