{% extends 'hq/panel_list.html' %}
{% load qxsms_tags django_bootstrap5 i18n %}

{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumbitem 'hq:panel-update' panel.pk %}{% trans "Update panel" %}{% endbreadcrumbitem %}
{% endblock %}

{% block title_lead %}{% endblock %}

{% block content %}
    <section class="container">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success me-2">{% trans "Update" %}</button>
            {% url 'hq:panel-detail' panel.pk as cancel_url %}
            {% include 'utils/cancel_button.html' %}
        </form>
    </section>
{% endblock %}
