{% extends 'base.html' %}
{% load i18n static qxsms_tags django_bootstrap5 %}

{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumbitem %}{% trans "Choose a new password" %}{% endbreadcrumbitem %}
{% endblock %}

{% block content %}
    <section class="container">
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success me-2">{% trans "Confirm password" %}</button>
                {% url 'login' as cancel_url %}
                {% include 'utils/cancel_button.html' %}
            </form>
        {% else %}
            {% url 'password-reset' as password_reset_url %}
            <p>{% blocktrans %}This link is invalid, possibly because it has already been used or expired. Please <a href="{{ password_reset_url }}">request a new link</a> to reset your password.{% endblocktrans %}</p>
        {% endif %}
    </section>
{% endblock %}
