{% extends 'base.html' %}{% load i18n static qxsms_tags django_bootstrap5 %}

{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumbitem %}{% trans "Reset password" %}{% endbreadcrumbitem %}
{% endblock %}

{% block title_lead %}
    {% if reset_method == 'phone' %}
        {% trans "Enter your phone number to receive a link to reset your password." %}
    {% else %}
        {% trans "Enter your email address to receive a link to reset your password." %}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="container">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success me-2">{% trans "Send" %}</button>
            {% url 'login' as cancel_url %}
            {% include 'utils/cancel_button.html' %}
            {% if reset_method == 'phone' %}
                <a href="{% url 'password-reset' %}" class="ms-2">{% trans "Use email" %}</a>
            {% else %}
                <a href="?phone" class="ms-2">{% trans "Use phone number" %}</a>
            {% endif %}
        </form>
    </section>
{% endblock %}
